@model Amazon.Models.Vendor

@{
    ViewData["Title"] = "Details";
}


<div class="details-background">
   
    <hr />
    <div class="row">
        <div class="col-md-4 side-Img"></div>
        <div class="col-md-8">
          <h4 class="d-title">Vendor Data Details</h4>
       <dl class="row m-auto DataContainer">
        
        <dt class = "col-sm-2 title">
            @Html.DisplayNameFor(model => model.Name):
        </dt>
        <dd class = "col-sm-10 Data">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2 title">
            @Html.DisplayNameFor(model => model.Location):
        </dt>
        <dd class = "col-sm-10 Data">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2 title">
            @Html.DisplayNameFor(model => model.Phone):
        </dt>
        <dd class = "col-sm-10 Data">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>



        </div>

    </div>


    
</div>
<div>
    <a asp-action="Edit" class="ListBack" asp-route-id="@Model?.Id"><i class="fa-solid fa-pencil"></i>Edit</a> |

   <a asp-action="Index" class="ListBack"><i class="fa-solid fa-left-long"></i>Back to List</a>

</div>
